/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/base/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*

*.bat
*.sh
CHANGELOG
LICENSE.txt

!/src/minecraft/com/

